body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 0;
    font-size: 27px;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 0;
}

.main-container {
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card-container {
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.qr-container {
    padding: 18px;
}

.qr-image {
    max-width: 100%; /* Set a maximum width to fit the container */
    height: auto;    /* Maintain the image's aspect ratio */
    border-radius: 12px;
}

.content-container {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.content-container h1 {
    padding-bottom: 15px;
}

.content-container p {
    padding-bottom: 15px;
}

.attribution {
    display: flex;
    justify-content: center;
    place-items: center;
}
